@import "fonts";
@import "vars";
@import "mixins";
@import "global";
@import "libs";

.header {
  background-color: #181818;
  &__inner {
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 206px;
    height: 56px;
  }
}

.top {
  min-height: 333px;
  background-image: url('../images/top-bg.webp');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 11px;
    margin-bottom: 27px;
    a + a {
      margin-left: 12px;
    }
    a {
      width: 135px;
      height: 40px;
    }
  }
  &__logo {
    margin-bottom: 56px;
    img {
      width: 354px;
      height: 96px;
    }
  }
  
  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.barbarian {
  background-color: #181818;
  padding-top: 52px;
  padding-bottom: 36px;
  &__inner {
    background-color: #222;
    border-radius: 5px;
    min-height: 340px;
    padding: 24px 15px;
    font-size: 12px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 100;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/barbarian.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 269px;
      height: 255px;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
    }
  }
}







@import "media";